<div class="card">
  <div class="card-body">
      <div class="row">
          <div class="col-sm-6 col-lg-3">
              <div class="owner">
                  <div class="name">
                      <h4 class="title"><br /></h4>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-8 details">
              <p></p>
              <a [routerLink]="['/suspects']" class="nav-link" (click)="deleteSuspect()"><i
                      class="nc-icon nc-simple-remove"></i> Delete</a>
          </div>
      </div>
  </div>
</div>