<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"></div>
    <div class="section suspects-content">
        <div class="owner">
            <div class="background">
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Title">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group has-success">
                                        <input type="date" class="form-control form-control-success" id="date">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group has-success">
                                        <input type="time" class="form-control form-control-success" id="time">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group has-success">
                                        <textarea class="form-control" rows="4" placeholder="Details"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group has-success">
                                        <button type="button" class="btn btn-outline-danger btn-round">Cancel</button>
                                        <button type="button" class="btn btn-default btn-round">Add Event</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>