<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['/home']" class="nav-link"> Home</a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a [routerLink]="['/evidences']" class="nav-link"><i class="nc-icon nc-box"></i> Evidences</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/suspects']" class="nav-link"><i class="nc-icon nc-badge"></i> Suspects</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/theories']" class="nav-link"><i class="nc-icon nc-chat-33"></i> Theories</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/timeline']" class="nav-link"><i class="nc-icon nc-chart-bar-32"></i>
                        Timeline</a>
                </li>
                <li class="nav-item" *ngIf="isTimeline()">
                    <a [routerLink]="['/add-timeline-event']"><button type="button" class="btn btn-default btn-round">
                            <i class="nc-icon nc-simple-add"></i> Add Event</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>