<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"></div>
    <div class="section suspects-content">
        <div class="owner">
            <div class="background">
                <div class="container">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ngb-tabset [justify]="'center'">
                                <ngb-tab title="Viola's Disappearance">
                                    <ng-template ngbTabContent>
                                        <section id="conference-timeline">
                                            <div class="timeline-start">Start</div>
                                            <div class="conference-center-line"></div>
                                            <div class="conference-timeline-content">
                                                <div *ngFor="let event of events">

                                                    <app-card-timeline [id]="event"></app-card-timeline>

                                                </div>
                                            </div>
                                            <div class="timeline-end">End</div>
                                        </section>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>