<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true">

    </div>
    <div class="section suspects-content">

        <div class="owner">




            <div class="background">

                <div class="container">

                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ngb-tabset [justify]="'center'">
                                <ngb-tab title="Box 1">
                                    <ng-template ngbTabContent>
                                        <app-box-template></app-box-template>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Box 2">
                                    <ng-template ngbTabContent>
                                        <p>To be continue....</p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Box 3">
                                    <ng-template ngbTabContent>
                                        <p>To be continue....</p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Box 4">
                                    <ng-template ngbTabContent>
                                        <p>To be continue....</p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Box 5">
                                    <ng-template ngbTabContent>
                                        <p>To be continue....</p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Box 6">
                                    <ng-template ngbTabContent>
                                        <p>To be continue....</p>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>