<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true">
    </div>
    <div class="section suspects-content">
        <div class="owner">
            <div class="background">
                <div class="container">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ngb-tabset [justify]="'center'">
                                <ngb-tab >
                                    <ng-template ngbTabContent>

                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>