<!-- Article -->
<div class="timeline-article">
  <div class="content-left-container">
    <div class="content-left">
      <p>{{event.event}}</p>
 
        <p>
          <a [routerLink]="['/edit-timeline', event._id]" class="setting"><i class="nc-icon nc-simple-remove"></i>
            Edit     </a>
          <a [routerLink]="['/timeline']" class="settings" (click)="deleteEvent()"><i
              class="nc-icon nc-simple-remove"></i> Delete</a>
        </p>
   
    </div>
  </div>
  <div class="meta-time">
    <span class="time">{{event.time}}</span>
  </div>
</div>