<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true">
    </div>
    <div class="section suspects-content">
        <div class="owner">
            <div class="background">
                <div class="container">
                    <div class="owner">
                        <div class="avatar">
                            <img src="./assets/img/viola.jpg" alt="Circle Image"
                                class="img-circle img-no-padding img-responsive">
                        </div>
                        <div class="name">
                            <h1 class="title">Curtain Call<br /></h1>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>