<footer class="footer">
    <div class="background">
        <div class="container">
            <div class="row">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="https://www.cadencetheatre.com/">Cadence Theatre</a></li>
                        <li><a href="https://michellegrayinvestigations.com/">Michelle Gray Investigations</a></li>
                        <li><a href="https://www.huntakiller.com/">Hunt a Killer</a></li>
                        
                    </ul>
                </nav>
                <div class="credits ml-auto">
                    <span class="copyright">
                        © {{test | date: 'yyyy'}}, made by Teresa Costa using<a
                            href="https://www.creative-tim.com/product/paper-kit-2-angular#"> Paper Kit 2</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>